.rst_main_page {
  max-width: 1170px;
  margin: auto;
  overflow: hidden;
  margin-top: 80px;
}
.rst_align_center {
  text-align: center;
}
.rst_main_page .rst_main_wraper {
  margin-right: -2.56%;
  width: 100%;
}

.rst_main_page .rst_main_wraper .rst_main_content {
  padding-right: 2.56%;
  width: 33.3333333%;
  margin-bottom: 31px;
}

article {
  display: block;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.rst_main_content_logo {
  min-height: 93px;
  border: 1px solid #d1e2e8;
  position: relative;
  background: #fff;
}

.rst_main_content_logo {
  height: 101px;
  border: 1px solid #e3ecef;
  color: #fff;
  position: relative;
  text-align: left;
}

.rst_main_content_top h3 {
  color: #101e22;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  height: 55px;
}

.rst_main_content_bot {
  color: #cc4859;
  height: 50px;
}

.rst_main_shadow {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: all 0.6s ease-in-out 0s;
}
